# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
back-end/.phpunit.cache
back-end/node_modules
back-end/public/build
back-end/public/hot
back-end/public/storage
back-end/storage/*.key
back-end/vendor
back-end/.env
back-end/.env.backup
back-end/.env.production
back-end/.phpunit.result.cache
back-end/Homestead.json
back-end/Homestead.yaml
back-end/auth.json
back-end/npm-debug.log
back-end/yarn-error.log
back-end/.fleet
back-end/.idea
back-end/.vscode
back-end/.github

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

front-end/node_modules

