@import "tailwindcss";
:root {
  --background: #d5e7eb;
}
body {
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3c4849;
  }
}

.line-background {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px #222 solid;
}

.line-background::before {
  content: "";
  position: absolute;
  height: 200%;
  width: 40%;
  background: #fff;
  animation: animation 3s infinite linear;
}

.line-background::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--background);
}

@keyframes animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
